@charset "utf-8";
/* CSS Document */

/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v15/c28rH3kclCLEuIsGhOg7evY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v15/RdfS2KomDWXvet4_dZQehvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v15/9NqNYV_LP7zlAF8jHr7f1vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v15/cycBf3mfbGkh66G5NhszPQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face{
	font-family: "Droid Sans";
	src: url('fonts/DroidSans.ttf') format("truetype");	
}

@font-face {
    font-family: "Droid Sans";
    src: url("fonts/DroidSans-Bold.ttf");
    font-weight: bold;
}

@font-face{
	font-family: "DK Jambo";
	src: url('fonts/DK%20Jambo.otf') format("truetype");	
}

@font-face{
	font-family: "Lobster", cursive;
}

@font-face{
	font-family: "Dosis", cursive;
}

.paypal-form
{
	float: left;
	padding-left: 10px;
}

hr{
	padding-bottom: 2px;
	margin-bottom: 15px;
}


body{
 background-image: url(../img/img/bg_new.jpg);
 position: relative;
 background-repeat: repeat-x;
 background-color: #000000; 
 font-family: "Arial";
 color: #472713;
     margin: 0 auto;
}

#logo{
 position: relative;
 margin: 0 auto;
 width: 540px;
 height: 100px; 
 top: 20px;
 -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

#logo:hover{
 top: 25px; 
}

#content{
 position: relative;
 min-width: 1130px;
 height: 1120px;
    margin: 0 auto;
 background: url(../img/img/bgcontent_1.png) top center no-repeat;
 top: 80px;
}

#content2{
	position: relative;
	min-width: 1130px;
	height: 1220px;
    margin: 0 auto;
	background: url(../img/img/bgcontent_2.png) top center no-repeat;
	top: 70px;
}

#navi{
	position: relative;
	margin: auto;
	width: 550px;
	height: 34px;
	top: 92px;
}

#nhome{
	opacity: 0.8;
	background: url(../img/img/btnnavi.png) no-repeat;
	background-position: 0 0;
	display: block;
  	width: 60px;
    height: 34px; 
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}
#nhome:hover{  background-position: 0 -34px; opacity: 1; }

#ninfo{
	opacity: 0.8;
	background: url(../img/img/btnnavi.png) no-repeat;
	background-position: -125px 0;
	display: block;
  	width: 60px;
    height: 34px; 
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}
#ninfo:hover{  background-position: -125px -34px; opacity: 1; }

#ndown{
	opacity: 0.8;
	background: url(../img/img/btnnavi.png) no-repeat;
	background-position: -230px 0;
	display: block;
  	width: 85px;
    height: 34px; 
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}
#ndown:hover{  background-position: -230px -34px; opacity: 1; }

#nforum{
	opacity: 0.8;
	background: url(../img/img/btnnavi.png) no-repeat;
	background-position: -365px 0;
	display: block;
  	width: 60px;
    height: 34px; 
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}
#nforum:hover{  background-position: -365px -34px; opacity: 1; }

#nwiki{
	opacity: 0.8;
	background: url(../img/img/btnnavi.png) no-repeat;
	background-position: -480px 0;
	display: block;
  	width: 60px;
    height: 34px; 
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}
#nwiki:hover{  background-position: -480px -34px; opacity: 1; }


#main{
 position: relative;
 margin: auto;
 width: 1130px;
 height: 920px; 
 top: 100px;
}

#lpane{
	position: relative;
	float: left;
	width: 232px;
	height: auto;	
	//border: 1px solid #fff;
	top: 16px;
	left: 14px;
}

#login{
	position: relative;
	width: 229px;
	height: 242px;	
	overflow: hidden;	
}

#txtbox{
	border: 0;
	width: 180px;
	height: 29px;
	background: url(../img/img/txtbox.png) no-repeat;
	color: #eee;	
	padding: 3px 10px 3px 10px;
	font-size: 9pt;
}

#forgot{
	color: #bad9e3;	
}

#btnlogin{
	position: relative;
	left: -4px;
	border: 0;
	cursor: pointer;
	background: url(../img/img/btnlogin.png) no-repeat;
	width: 203px;
	height: 63px; 	
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}



#btnlogin:hover{
    opacity: 0.9;
	background-color: aqua; 
	}


#btnlogout{
	opacity: 0.8;	
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}

#btnlogout:hover{ opacity: 1; }

#qlinks{
	position: relative;
	width: 230px;
	height: 305px;	
}

#btnqlinks{
	opacity: 1;	
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}

#btnqlinks:hover{
	opacity: 0.7;	
}

#ss{
	position: relative;
	width: 217px;
	height: 201px;	
	overflow: hidden;	
}

#sscon{
	top: 48px;
	left: 16px;
	position: relative;
	width: 202px;
	height: 152px;	
}

#mpane{
	position: relative;
	float: left;
	width: 620px;
	height: 875px;	
	overflow: hidden;
	top: 12px;
	left: 22px;
	//border: 1px solid #fff;
}

#mpane2{
	position: relative;
	float: left;
	width: 620px;
	height: 875px;	
	overflow: hidden;
	top: 12px;
	left: 22px;
	//border: 1px solid #fff;
}

#mpane2::-webkit-scrollbar-track
{
	background-color: #deb36f;
}

#mpane2::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	background-color: #F5F5F5;
}

#mpane2::-webkit-scrollbar-thumb
{
	background-color: #644624;
}

#mpane2::-webkit-scrollbar-corner {
	background-color: #deb36f;
}

#slider{
	position: relative;
	top: 45px;
	left: 30px;
	width: 557px;
	height: 168px;	
}

#slider img{
	position: relative;
	width: 557px;
	height: 168px;	
}


#wel{
	position: relative;
	margin: auto;
	width: 560px;
	height: 185px;	
	top:20px;	
}

#welcon{
	position: relative;
	color: #472713;
	top: 10px;	
	left: 18px;
}

#welcon_in{
	width: 360px;
	height: 80px;
	overflow: hidden;	
}

#news{
	position: relative;
	top: 80px;
	width: 560px;
	height: 175px;	
}

#nnews{
	position: absolute;
	margin: 20px 0 0 45px;
	width: 250px;
	height: 135px;
	overflow: hidden;	
}

#nnews table tr td a, #nnews table tr td{
	color: #eee;	
}

#nevent{
	position: absolute;
	margin: 20px 0 0 327px;
	width: 250px;
	height: 135px;
	overflow: hidden;	
}

#nevent table tr td a, #nevent table tr td{
	color: #eee;	
}


#castle{
	position: relative;
	top: 90px;
	margin: auto;
	width: 435px;
	height: 155px;	
}

#discord {
  width: 260px;
  height: 200px;
  position: relative;
  top: 10px;
  left: 15px;
  overflow: hidden;
}
#discord > div {
  position: absolute;
  width: 270px;
  height: 250px;
  top: -98px;
  left: -15px;
}

#c1{
	position: absolute;
	top: 45px;
	left: 38px;	
}

#c2{
	position: absolute;
	top: 55px;
	left: 91px;	
}

#c3{
	position: absolute;
	top: 13px;
	left: 138px;	
}

#c4{
	position: absolute;
	top: 13px;
	left: 272px;	
}

#c5{
	position: absolute;
	top: 55px;
	left: 313px;	
}

#c6{
	position: absolute;
	top: 45px;
	left: 370px;	
}

#rpane{
	position: relative;
	top: 10px;
	left: 28px;
	float: left;
	width: 232px;
	height: auto;	
	overflow: hidden;	
	//border: 1px solid #fff;
}

#manutenção{
	width: 230px;
	height: 152px;
	
}

#data{
	position: relative;
	top: 68px;
	left: 30px;
	text-align: left;
	color: #ddb97d;	
	font-size: 9pt;
}

#hora{
	position: relative;
	top: 78px;
	left: 30px;
	text-align: left;
	color: #ddb97d;	
	font-size: 9pt;
}

#duração{
	position: relative;
	top: 88px;
	left: 30px;
	text-align: left;
	color: #ddb97d;	
	font-size: 9pt;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {



#fb{
	position: relative;
	width: 230px;
	height: 322px;
	overflow: hidden;		
}

#fbcon{
	position: relative;
	left: 10px;
	top: 70px;
	width: 222px;
	height: 300px;	
	overflow: hidden;
}

#status{
	width: 230px;
	height: 152px;
}

#servidor{
	position: relative;
	top: -310px;
	left: 913px;
	text-align: left;
	color: #ddb97d;	
	font-size: 9pt;
}

#evento{
	position: relative;
	top: -300px;
	left: 913px;
	text-align: left;
	color: #ddb97d;	
	font-size: 9pt;
}

#playerson{
	position: relative;
	top: -290px;
	left: 913px;
	text-align: left;
	color: #ddb97d;	
	font-size: 9pt;
}

#warcidade{
	position: relative;
	top: -280px;
	left: 913px;
	text-align: left;
	color: #ddb97d;	
	font-size: 9pt;
}

#footer{
	position: relative;
	top: 150px;
	width: 100%;
	float: left;	
}

#footcon{
	color: #9da2a7;
	text-align: center;
}

#s1{
	position: relative;
	margin: auto;
	width: 200px;
	height: 0px;
	top: -1175px;
	right: -480px;
}

#nav ul
{
	color: #9da2a7;
	font-weight: bold;
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}


#nav ul li { display: inline; }
#nav ul li a { font-size: 9pt; color: #9da2a7; font-weight: bold; }
#nav ul li a:hover { font-size: 9pt; color: #eee; font-weight: bold; }

#block2
{
    padding: 10px;
    width: 280px;
}